.container{
        height: auto;
        width: auto;
        
}
.content{
    width: 70%;
    height: 400px;
    float: left;
}
.content-img{
    width: 30%;
    height: 400px;
   float: left;
}
.tv{
    height: 100%;
    width: 100%;
}
.lion{
    height: 5%;
    width: 5%;
    float: left;
}
.name {
    float: left;
    display: block;
    margin: 1%;
}
.navi li{
    display:inline-block;
    background-color: chocolate;
    text-decoration: none;
    border-radius: 10%;
    width: 60px;
    padding: 10px;
}